{% extends 'base.html.twig' %}

{% block body %}
    <h2>Allez voir vos mails !</h2>
    <p>Un message vous a été envoyé ! Allez cliquer sur le lien là-bas ! </p>
{% endblock %}

{% block title %}
Oubli du mot de passe | étape 2
{% endblock %}

