{% extends 'base.html.twig' %}

{% block body %}
<h2>Oups, vous avez oublié votre mot de passe ?</h2>
    {{ form(form) }}
{% endblock %}

{% block title %}
Oubli du mot de passe | étape 1
{% endblock %}

