body {
    font-family: Merriweather, serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    padding: 10px 0 0 0;
    margin-bottom: 20px;
}

header h1 {
    font-size: 1.4rem;
}

header a {
    color: #FFF;
}

header > div {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header .main-nav {
    display: flex;
    align-items: baseline;
}

header .main-nav a {
    margin-right: 20px;
}

header .main-nav h1 {
    margin: 0 30px 0 35px;
}

header img {
    height: 52px;
    position: absolute;
    top: -6px;
    left: -7px;
    transform: rotate(15deg);
}

header .user-nav a {
    margin-left: 20px;
}

main {
    flex-grow: 1;
}

footer {
    padding: 40px 0;
    text-align:center;
}

.footer-logo {
    transform: rotate(-15deg) scaleX(-1);
    margin-left: 30px;
}

#map {
    height: 500px;
    width: 100%;
}

