{% extends 'base.html.twig' %}

{% block title %}Sortir.com!{% endblock %}

{% block body %}
    <div class="jumbotron text-center hero">
        <h2>Les sorties à l'ENI</h2>
        <h4>{{ allEventCount }} sorties organisées !</h4>
        <a class="btn btn-dark mt-3" href="{{ path('event_list') }}" title="Voir toutes les sorties">Voir toutes les sorties !</a>
    </div>
{% endblock %}
