<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}Sortir.com à l'ENI!{% endblock %}</title>

        <link href="https://fonts.googleapis.com/css?family=Merriweather&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('css/app.css') }}">
    </head>
    <body>

        <header>
            <div class="container">
                <nav>
                    <a href="{{ path('home') }}"><h1>Sortir.com</h1></a>

                </nav>
            </div>
        </header>
        <main>
            <div class="container">
                {% block body %}{% endblock %}
            </div>
        </main>
        <footer>
            <div class="container">
                &copy;{{ "now"|date("Y") }} ENI
            </div>
        </footer>
    </body>
</html>
