{% extends 'base.html.twig' %}

{% block title %}Ouuuuups une 404{% endblock %}

{% block body %}
    <h2>Ouuuuuuups une 404</h2>
    <img src="https://media0.giphy.com/media/26BRrq8vtFpvMfa5W/giphy.gif?cid=ecf05e47iaf1ehd4twn0twnb0s1y6860w013sevi4n7h7jrf&rid=giphy.gif&ct=g" alt="crying">
{% endblock %}