{% extends 'base.html.twig' %}

{% block title %}Désolé mais non{% endblock %}

{% block body %}
    <h2>Désolé mais non, pas possible</h2>
    <img alt="nope" src="https://media4.giphy.com/media/d8o9CD5MgaPKxujj7y/giphy.gif?cid=ecf05e47cwz1jl2y042te4f7m8qno0ln5j4t2ken20s9hsia&rid=giphy.gif&ct=g">
{% endblock %}