{% extends 'base.html.twig' %}

{% block title %}Ouuuuups une 500{% endblock %}

{% block body %}
    <h2>Ouuuuuuups une 500</h2>
    <img alt="fail" src="https://media2.giphy.com/media/N35rW3vRNeaDC/giphy.gif?cid=ecf05e47mmgagciuc1u7btnmgd8vmb303lfuyux6b2p2p45r&rid=giphy.gif&ct=g">
{% endblock %}