{% extends 'base.html.twig' %}

{% block body %}
    <h2>Upload de photo de profil</h2>

    {{ form(form) }}

    <a href="{{ path('user_profile', {id: app.user.id}) }}" class="btn btn-danger">Passer cette étape</a>
{% endblock %}

{% block title %}Upload de photo de profil{% endblock %}

